GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx

NEXTAUTH_SECRET=xxx
NEXTAUTH_URL=http://localhost:3000/

HASURA_GRAPHQL_ENDPOINT=http://localhost:8080/v1/graphql
HASURA_ADMIN_SECRET=xxx

NEXT_PUBLIC_API_URL=http://localhost:8080/v1/graphql